* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-font: "Poppins", serif;
  --primary-color: #3F3D53;
  --secondary-color: #fff;
  --primary-bg-color: rgba(169, 169, 169, 0.183);
}

body {
  font-size: 1rem;
}

@media screen and (min-width:768px) {
  body {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  list-style: none;
}

.container {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: min(100%, 1280px);
  margin-inline: auto;
}

header {
  background-color: var(--secondary-color);
  width: min(100%, 1280px);
  position: fixed;
  top: 0;
  z-index: 100;
}

nav {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.4375rem;
  padding-inline: 0.5rem;
}

.nav-logo-link>a {
  font-weight: bold;
}

ul {
  display: none;
  gap: 2rem;
}

ul a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  ul {
    display: flex;
  }

  nav img {
    display: none;
  }

}

/* Hero Section */
.section-wrapper {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  width: min(100%, 1280px);
  margin: 3.44rem 0;
}

.hero-section-wrapper {
  background: url(./assets/school-image-section.webp) no-repeat center/cover;
}

.section-content {
  display: flex;
  flex-direction: column;
  min-height: 35vh;
}

@media screen and (min-width: 768px) {
  .section-content {
    min-height: 40vh;
  }
}

@media screen and (min-width: 980px) {
  .section-content {
    min-height: 50vh;
  }
}

.hero-section-content {
  justify-content: end;
  align-items: last baseline;
  gap: 0.3rem;
}

.section-heading {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

@media screen and (min-width:768px) {
  .section-heading {
    text-align: center;
  }

}


.section-text {
  color: black;
  line-height: 1.4;
  width: min(70%, 700px);
}

.hero-text {
  backdrop-filter: blur(0.1rem);
}

@media screen and (min-width: 768px) {
  .hero-text {
    backdrop-filter: blur(1.5rem);
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    width: min(70%, 450px);
  }
}


.welcome-heading {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: left;
}

.school-name {
  color: #A3B3C2;
}

@media screen and (min-width:768px) {
  .welcome-heading {
    font-size: 2rem;
  }
}

.description {
  color: var(--secondary-color);
}

.btns {
  font-size: 1.1rem;
  border-radius: 100px;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.174);
  margin-bottom: 0.5rem;
}

.apply-btn {
  background-color: #002855;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.082);
  margin-bottom: 0.5rem;
  padding: 0.3em 0.8em;
}

.apply-btn>a {
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.apply-btn>a:hover {
  text-decoration: underline;
}


/* Why Choose Us */

.choose-us-section-content {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.choose-us-section-content>h2 {
  text-align: left;
}

@media screen and (min-width:768px) {
  .choose-us-section-content {
    padding: 0;
  }
}

.choose-us-section-content>h2 {
  width: min(70%, 700px);
}

@media screen and (min-width: 768px) {
  .choose-us-section-content>h2 {
    font-size: 1.6rem;
    text-align: center;
  }

  .choose-us-text {
    font-size: 1.35rem;
  }

}

.btn-wrapper {
  width: min(70%, 700px);
}

.choose-us-btns {
  cursor: pointer;
  padding: 0.8rem 1.6rem;
}


.learn-more .btns>a {
  color: var(--primary-color);
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .learn-more .btns>a {
    font-size: 1.35rem;
  }

}


/* Popular Courses */
.courses-section-content,
.graduate-section-content,
.campus-news-section-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 0 0 3rem 0;
}

.course-content-info,
.graduate-content-info,
.campus-news-card {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.course-image img,
.graduate-image img,
.news-card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.popular-course-data,
.graduate-data,
.campus-news-data {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-inline: 0.4rem;
}

.heading-price {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.course-apply-btn,
.read-more-btn {
  box-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.375);
  padding: 0.4em 1.3em;
}

/* Graduate section */
.graduate-name {
  text-align: center;
  padding-bottom: 0.5rem;
}